.box {
    background: transparent;
    margin: 0 auto 0 auto;
    padding: 10px 0px 0px 0px;
}

.logsign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

h3 {
    margin-top: 80px;
    font-size: 1.8em;
    color: #083858;
    font-weight: bold;
}

form {
    margin-top: 30px;
    text-align: center;
    color: #083858;
}

::placeholder {
    color: #083858;
}

.form {
    background-color: transparent;
    border: #083858 2px solid;
    padding: 8px;
    margin-top: 20px;
    font-size: 1em;
    border-radius: 15px;
}

