.file {
    color: transparent;
    background-color: #083858;
    font-size: 1em;
    border-radius: 15px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
}

.file::-webkit-file-upload-button {
    visibility: hidden;
}

.file::before {
    content: 'Select for file';
    padding: 10px 25px;
    cursor: pointer;
    text-shadow: 1px 1px white;
    font-family: 'Ubuntu', sans-serif;
}